<h2>Deadline: <%= deadline.name %></h2>
<%# issues.each do |issue| %>
  <h3><%#= issue.title %></h3>
  <p>Description: <%#= issue.description %></p>
  <p>State: <%#= issue.state %></p>

  <%#= raw ap issue %>
<%# end %>
