<h2>Current Status</h2>
<% img_src = [
  'https://media.giphy.com/media/toXKzaJP3WIgM/giphy.gif',
  'http://i.imgur.com/rIPBmvV.gif',
  'http://i.imgur.com/7YNrbUy.gif',
  'http://i.imgur.com/DEMUyWC.gif', # hackerman
  'http://i.imgur.com/vbRHD9E.gif', # house
  'http://i.imgur.com/RvN7Xic.gif',
  'https://media.giphy.com/media/eCqFYAVjjDksg/giphy.gif',
  'https://media.giphy.com/media/13HgwGsXF0aiGY/giphy.gif',
  'https://media.giphy.com/media/XngVh5Xiaa4j6/giphy.gif'
].sample %>
<%= image_tag img_src %>
