<h2>Current Status</h2>
<% img_src = [
  'https://media.giphy.com/media/toXKzaJP3WIgM/giphy.gif',
  'http://i.imgur.com/rIPBmvV.gif',
  'http://i.imgur.com/7YNrbUy.gif'
].sample %>
<%= image_tag img_src %>
