.flash {
  margin: 5px auto;
  max-width: 520px;
  padding: 10px;
  text-align: center;
  background-color: #F8F7F2;
}

.flash-notice {
  @extend .flash;
  /*$color: #039;*/
  /*color: $color;*/
  // border: 1px solid lighten($color, 30%);
  color: #333;
}

.flash-alert {
  @extend .flash;
  $color: #900;
  color: $color;
  width: 100%;
  max-width: 100%;
  display: inline-block;
  margin: 0;
  background-color: #F4D1C4;
}

