#password-form {
  display: none;
}

.dashboard-form {
  $w: 520px;
  $labelWidth: $w / 2;
  width: $w;
  margin: 0 auto;
  border-top: 1px solid #EDEDED;

  h3 {
    margin-top: 10px;
    font-weight: bold;
    color: #81848A;
  }

  .info {
    margin: 10px auto ;
  }

  form {

    div.input {
      margin-top: 7px;
      margin-bottom: 15px;

      .hint {
        display: block;
        color: #999;
        /*margin-left: $labelWidth;*/
      }
    }

    #dashboard_project_uid {
      min-width: 288px;
      margin-left: 6px;
    }

    label {
      /*width: $labelWidth;*/
      display: inline-block;
      line-height: 1.5;
      padding-right: 5px;

      abbr { display: none; }
    }

    input[type="text"],
    input[type="password"]
    {
      padding: 3px;
      /*width: $labelWidth - 10px;*/
    }

    .boolean {
      label {
        /*margin-left: $labelWidth;*/
      }

      input {
        margin-right: 5px;
      }
    }

    .dashboard_published {
      .hint {
        margin-left: 18px;
      }
    }
    .dashboard_slug, .dashboard_project_uid {
      label, input {
        font-size: 12px;
        font-family: $font_mono;
      }


      label {
        /*width: auto;*/
        text-align: right;
        padding-right: 1px;
      }
    }

    .dashboard_project_uid {
      label {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px
      }
    }

    .actions {
      margin-top: 30px;
    }
  }

  .copy-url {
    $btnW: 80px;
    margin: 15px 0;

    input {
      font-family: $font_mono;
      line-height: 37px;
      padding: 0 10px;
      width: $w - $btnW - 28px;
    }

    .btn {
      line-height: 31px;
      padding-top: 1px;
      padding-bottom: 3px;
      width: $btnW;
    }
  }

  ul {
    font-size: 18px;
    font-weight: bold;
    color: #81848A;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    cursor: pointer;
  }

  li {
    display: inline;
    padding: 10px;
    border-radius: 5px;
  }

  li.active {
    background-color: #e9e9e9;
  }

  span {
    color: #999;
  }
}

