.dashboard-form {
  $w: 520px;
  $labelWidth: $w / 2;
  width: $w;
  margin: 0 auto;
  border-top: 1px solid #EDEDED;

  h3 {
    margin-top: 10px;
    font-weight: bold;
    color: #81848A;
  }

  form {

    div.input {
      margin-bottom: 7px;
      margin-top: 7px;
    }

    label {
      width: $labelWidth;
      display: inline-block;
      line-height: 1.5;

      abbr { display: none; }
    }

    input[type="text"],
    input[type="password"]
    {
      padding: 3px;
      width: $labelWidth - 10px;
    }

    .input {
      .hint {
        display: block;
        color: #999;
      }
    }

    .boolean {
      label {
        margin-left: $labelWidth;
      }

      input {
        margin-right: 5px;
      }

      .hint {
        margin-left: $labelWidth;
      }
    }

    .dashboard_slug {
      label, input {
        font-size: 12px;
        font-family: $font_mono;
      }

      label {
        /*width: auto;*/
        text-align: right;
      }
    }
  }

  .copy-url {
    $btnW: 80px;
    margin: 15px 0;

    input {
      font-family: $font_mono;
      line-height: 37px;
      padding: 0 10px;
      width: $w - $btnW - 28px;
    }

    .btn {
      line-height: 31px;
      padding-top: 1px;
      padding-bottom: 3px;
      width: $btnW;
    }
  }
}

