/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

// ----------------------------------------------------------------------------
// Variables
// ----------------------------------------------------------------------------
$input_mono_narrow_bold: "input_mono_narrow_bold", monospace;
$fonts_url_fallback: 'fonts/';
// $fonts_url: 'http://d2zrsw3u8lkijg.cloudfront.net/fonts/';
$fonts_url: 'fonts/';

// ----------------------------------------------------------------------------
// Imports
// ----------------------------------------------------------------------------
@import "components/*";

.container {
  width: 800px;
  margin: 0 auto;

  a {
    color: #08E;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}



@font-face {
  font-family: 'input_mono_narrow_bold';
  src: url($fonts_url + 'InputMonoNarrow-Bold.woff2') format('woff2'),
       url($fonts_url + 'InputMonoNarrow-Bold.woff') format('woff'),
       url($fonts_url_fallback + 'InputMonoNarrow-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html, body, div, p, h1, h2, h3, h4, ul, li, img, input {
  margin: 0;
  padding: 0;
}
html {
  -webkit-text-size-adjust: none;
}
ul {
  list-style: none;
}
h1, h2, h3, h4 {
  font-weight: normal;
}


body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.projects-header {
  padding-top: 80px;
  text-align: center;
  width: 520px;
  margin: 0 auto;
}

.projects-avatar {
  border-radius: 50%;
  width: 96px;
  height: 96px;
}

.projects-instructions {
  font-size: 18px;
  font-weight: bold;
  color: #81848A;
  margin-top: 10px;
  margin-bottom: 40px;
}

.projects {
  width: 520px;
  margin: 0 auto;
  border-top: 1px solid #EDEDED;
}

.project {
  border-bottom: 1px solid #EDEDED;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-name {
  font-size: 24px;
  font-weight: bold;
  color: #737F98;
  line-height: 26px;

  a {
    color: #5C7FC9;
    text-decoration: none;
  }
}

.project-description {
  font-size: 16px;
  line-height: 26px;
  color: #758081;
  max-width: 460px;
}

.project-share {
  width: 40px;
  height: 40px;
  display: block;
  background: #F2F2F2 image-url('link.svg') no-repeat 50% 50%;
  border-radius: 50%;
}
