/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

// ----------------------------------------------------------------------------
// Variables
// ----------------------------------------------------------------------------

$nprogress-color: #0088ee;
/*$nprogress-height: 10px;*/
/*$nprogress-zindex: 10100;*/

$input_mono_narrow_bold: "input_mono_narrow_bold", monospace;
$font_mono: Monaco, Courier, monospace;
$fonts_url_fallback: 'fonts/';
// $fonts_url: 'http://d2zrsw3u8lkijg.cloudfront.net/fonts/';
$fonts_url: 'fonts/';

// ----------------------------------------------------------------------------
// Imports
// ----------------------------------------------------------------------------
@import "nprogress";
@import "components/*";

.container {
  width: 800px;
  margin: 0 auto;

  a {
    color: #08E;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}


@font-face {
  font-family: 'input_mono_narrow_bold';
  src: asset-url($fonts_url + 'InputMonoNarrow-Bold.woff2') format('woff2'),
       asset-url($fonts_url + 'InputMonoNarrow-Bold.woff') format('woff'),
       asset-url($fonts_url_fallback + 'InputMonoNarrow-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html, body, div, p, h1, h2, h3, h4, ul, li, img, input {
  margin: 0;
  padding: 0;
}
html {
  -webkit-text-size-adjust: none;
}
ul {
  list-style: none;
}
h1, h2, h3, h4 {
  font-weight: normal;
}


body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.projects-header {
  padding-top: 80px;
  text-align: center;
  width: 520px;
  margin: 0 auto;
}

.projects-avatar {
  border-radius: 50%;
  width: 96px;
  height: 96px;
}

.projects-instructions {
  font-size: 18px;
  font-weight: bold;
  color: #81848A;
  margin-top: 10px;
  margin-bottom: 40px;
}

.projects {
  width: 520px;
  margin: 0 auto;
  border-top: 1px solid #EDEDED;
}

.project {
  border-bottom: 1px solid #EDEDED;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-name {
  font-size: 24px;
  font-weight: bold;
  color: #737F98;
  line-height: 26px;

  a {
    color: #5C7FC9;
    text-decoration: none;
  }
}

.project-description {
  font-size: 16px;
  line-height: 26px;
  color: #758081;
  width: 440px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.project-share {
  width: 40px;
  height: 40px;
  display: block;
  background: #F2F2F2 image-url('link.svg') no-repeat 50% 50%;
  border-radius: 50%;
}
.milestones-header {
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
}

.milestones-project {
  display: flex;
  align-items: center;
}
.milestones-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.milestones-project-name {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  margin-left: 8px;
}
.milestones-view-projects {
  display: block;
  line-height: 32px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #FFEF8D;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
}
.milestone-featured-wrapper {
  background-color: #B5DEE1;
  background-image: image-url('scene.svg'), image-url('birds.svg');
  background-position: 50% 100%, 50% 270px;
  background-repeat: no-repeat;
  height: 600px;
  text-align: center;
  color: #fff;
  padding-top: 30px;
  margin-top: -68px;
}
.milestone-featured {

}
.milestone-featured-name {
  font-size: 24px;
  font-weight: bold;
}
.milestone-featured-issues {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}
.milestone-featured-progress {
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.milestone-featured-countdown {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.milestone-featured-interval {
  width: 180px;
  margin-right: 52px;

  &:first-child {

    .milestone-featured-number {
      color: #FFEF8D;
    }
  }
  &:last-child {
    margin-right: 0;
  }
}
.milestone-featured-number {
  font-size: 144px;
  line-height: 148px;
  font-family: $input_mono_narrow_bold;
}
.milestone-featured-label {
  font-size: 24px;
  margin-top: -22px;
}

.milestones-wrapper {
  background-color: #F8F7F2;
}
.milestones {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.milestone {
  background-color: #fff;
  border: 4px solid #EDECE5;
  width: 320px;
  text-align: center;
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;

  a {
    display: block;
    text-decoration: none;
    width: 312px;
    padding-top: 18px;
    padding-bottom: 22px;
  }
}
.milestone-name {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  color: #939393;
  width: 260px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.milestone-countdown {
  border-top: 1px solid #ECECEC;
  border-bottom: 1px solid #ECECEC;
  margin-top: 16px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 6px;
}
.milestone-interval {
  margin-right: 24px;

  &:last-child {
    margin-right: 0;
  }
}
.milestone-number {
  font-family: $input_mono_narrow_bold;
  font-size: 36px;
  color: #5C7FC9;
}
.milestone-label {
  font-size: 14px;
  margin-top: -6px;
  color: #939393;
  text-align: center;
}
.milestone-progress {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #F2F2F2;
  color: #939393;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
}
.milestone-issues {
  font-size: 16px;
  color: #939393;
  text-align: center;
  margin-top: 8px;
}


// ----------------------------------------------------------------------------
// Issues
// ----------------------------------------------------------------------------

.issues-header {
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
}
.issues-project {
  display: flex;
  align-items: center;
}
.issues-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.issues-project-name {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  margin-left: 8px;
}
.issues-view-projects {
  display: block;
  line-height: 32px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #FFEF8D;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
}

.issues-milesone-wrapper {
  background-color: #B5DEE1;
  height: 250px;
  text-align: center;
  color: #fff;
  padding-top: 30px;
  margin-top: -68px;
}
.issues-milesone {
  text-align: center;
}
.issues-milesone-name {
  font-size: 24px;
  font-weight: bold;
}
.issues-milesone-countdown {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 34px;
}
.issues-milesone-interval {
  margin-right: 30px;

  &:first-child {

    .issues-milesone-number {
      color: #FFEF8D;
    }
  }
  &:last-child {
    margin-right: 0;
  }
}
.issues-milesone-number {
  font-size: 82px;
  line-height: 84px;
  font-family: $input_mono_narrow_bold;
}
.issues-milesone-label {
  font-size: 14px;
  margin-top: -14px;
}
.milestones-overview {
  margin-top: 40px;
  font-size: 20px;

  a {
    color: #fff;
    background: image-url('arrow.svg') no-repeat 0 50%;
    padding-left: 28px;
    text-decoration: none;
  }
  span {
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  }
}

.issues-wrapper {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
}
.issues-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.issues-title {
  font-size: 24px;
  font-weight: bold;
  color: #81848A;
}
.issues-stats-summary {
  font-size: 16px;
  color: #939393;
}
.issues-stats-progress {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #F2F2F2;
  color: #939393;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.issues {
  border-top: 1px solid #EDEDED;
  margin-top: 20px;
}
.issue {
  border-bottom: 1px solid #EDEDED;
  padding-top: 12px;
  padding-bottom: 12px;
}
.issue-name {
  font-size: 16px;
  font-weight: bold;
  color: #737F98;
  line-height: 24px;
  text-decoration: none;
}
.issue-details {
  font-size: 16px;
  line-height: 26px;
  color: #758081;
  width: 440px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.issue-label {
  font-size: 13px;
  font-weight: bold;
  color: #939393;
  line-height: 16px;
  background-color: #F2F2F2;
  border-radius: 2px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 3px;
}
.issues-pagination {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}


.site-header {
  height: 676px;
  background: #7379B7 image-url('preview.png') no-repeat 50% 100%;
  color: #fff;
  padding-top: 68px;
  box-sizing: border-box;
}
.logo {

  a {
    display: block;
    width: 232px;
    height: 36px;
    background: asset-url('deadliner-logo.svg') no-repeat 0 0;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
  }
}
.definition {
  font-size: 24px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 40px;
}
.call-to-action {
  display: flex;
  justify-content: center;
}
.sign-in-github {
  background: #C784A4 asset-url('github-logo.svg') no-repeat 18px 50%;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: block;
  width: 133px;
  height: 44px;
  line-height: 38px;
  margin-right: 12px;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid #C784A4;
  padding-left: 32px;
}
.see-a-demo {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: block;
  width: 133px;
  height: 44px;
  line-height: 38px;
  border: 2px solid #9D92A9;
  text-align: center;
  box-sizing: border-box;
}

.main {
  background-color: #F8F7F2;
}

.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 60px;
}
.feature {
  width: 300px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
.feature-title {
  font-size: 20px;
  font-weight: bold;
  color: #84858C;
  margin-top: 5px;
}
.feature-description {
  font-size: 16px;
  color: #84858C;
  line-height: 24px;
  margin-top: 8px;
}
.separator {
  width: 260px;
  border: 0;
  height: 1px;
  background-color: #E5E4DE;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.give-it-a-try {
  margin-top: 60px;
  text-align: center;

  h2 {
    font-size: 42px;
    font-weight: bold;
    color: #84858C;
    margin-bottom: 30px;
  }
}
.see-a-demo-alt {
  color: #9D92A9;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: block;
  width: 133px;
  height: 44px;
  line-height: 38px;
  border: 2px solid #9D92A9;
  text-align: center;
  box-sizing: border-box;
}

.quote {
  margin-top: 60px;
  padding-bottom: 100px;
}
.quote-body {
  font-size: 24px;
  line-height: 36px;
  color: #84858C;
  max-width: 460px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.quote-author {
  font-size: 16px;
  font-weight: bold;
  color: #84858C;
  max-width: 460px;
  text-align: center;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  font-size: 14px;
  line-height: 24px;
  color: #84858C;
  text-align: center;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
